
body{
	padding:0;
	margin:0;
	font-family: "Microsoft YaHei" ! important;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
.full_wide{
	width:100%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clearfloat:after{
	clear:both;
	content:"";
	height:0;
	display: block;
	visibility: hidden;
}
/**********************************************header************************************************/
.header{
	background-color:#ececec;
	padding:25px 15px;
	color:#777;
}
.header #title{
	font-size: 20px;
	padding-right:28px;
	width:140px;
}
.header button{
	background-color: transparent;
	cursor: pointer;
	border:none;
}
.header button:hover{
	color:#add11c;
}
.header #today{	
	border:1px solid #ccc;
	background-color: white;
	border-radius: 15px;
	padding:5px 15px;
	margin:3px 0;
}
.header #today:hover{	
	border:1px solid #add11c;
}
.lc-icon{
	font-size: 20px;
	text-align: center;
}
.lc-icon:after{
	position: relative;
	margin: 0 14px; 
}
.lc-icon-left:after{
	content:'\02039';
}
.lc-icon-right:after{
	content:'\0203A';
}
/**********************************************content************************************************/
/*----------------------------------event--------------------------------------*/
.lc-event:before{
	content:'\025CF';
	color:#aad014;
	padding-right:5px;
}
.lc-event{
	display: block;
	list-style: disc inside;
	cursor:pointer;
	font-size: 14px;
	margin:2px 4px;
}
.lc-event:hover,.lc-event-highlight{
	background-color: #f2f8dc;
	border-radius:15px;
	color:black;
}
/*----------------------------------------------月历-------------------------------------------------*/
table{
	background-color:white;
	border-collapse:collapse;
}
table th,td .lc-event_div{
	text-align: center;
}
table thead tr{
	font-size: 14px;
	height:60px;
	color:#aad014;
}
table thead tr th{
	padding-top:25px;
}
table tbody tr{
	height:65px;
	border-top:1px solid #ddd;
}
table td+td .lc-date_div{
	border-left:1px solid #ddd;
}
th,td,li{
	width:14.28%;
}
td{
	vertical-align: top;
}
td .lc-date_div{
	padding:10px 0 0 10px;
}
td .lc-date{
	font-size: 15px;
	display: inline-block;
	padding:5px;
	border-radius: 15px;
	width:15px;
	height:15px;
	text-align:center;
	color:#777;
}
table .lc-event_list{
	text-align: center;
}
table .lc-table-highlight{
	color:black;
}
table .lc-table-highlight .lc-date{
	color:white;
	background-color: #aad014;

}
/*----------------------------------------------周历-------------------------------------------------*/
ul{
	margin:0;
	padding:0;
	list-style: none;
	height:700px;
}
li{
	text-align: center;
	float: left;
	height:100%;
	color:#aaa;
}
li+li{
	box-shadow: 1px 0 0 #ddd inset;
}
ul .lc-date{
	padding-top:17px;
	padding-bottom:15px;
	padding:17px 0px;
	color:#a6cb12;
}
ul .lc-date span{
	display: block;
}
ul .lc-date .number{
	font-size: 50px;
	font-weight: bold;
}
ul .lc-li-highlight{
	color:black;
	border-top:4px solid #8a7763;
}
ul .lc-li-highlight .lc-date{
	color:#8a7763;
	padding-top:17px;
	padding-bottom:11px;
}
ul .lc-section{
	height:100px;
}
ul li .lc-event{
	padding:5px 0;
}


/*----------------------------------popover----------------------------------*/
#popover{
	display:none;
	z-index: 100;
	padding:0 10px;
	position:absolute;
}
#popover #arrow{
	position:absolute;
}
#popover #container{
	width: 250px;
	background-color: #fff;
	padding:10px;
	box-shadow: 0px 0px 35px #b1bb8b;
	float:left;
	border-radius: 2px;
}
.arrow-left {
	float:left;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #fff;
	overflow:hidden;
}
.arrow-right {
	float:right;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left:10px solid #fff;
	overflow:hidden;
}
.cloud_button{
	border:none;
	border-radius:15px;
	background-color: #aad014;
	padding-top:6px;
	padding-bottom:8px;
	width:100%;
	text-align: center;
	color:#fff;
}
